@CHARSET "ISO-8859-1";
button.btn {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #018dc4;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 16px/normal Tahoma, Geneva, sans-serif;
  color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #0258d8;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  text-shadow: -1px -1px 0 rgba(14,165,138,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
  -moz-transition: all 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
  -o-transition: all 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: all 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-transform: rotateX(0.1138018925deg) rotateY(0.7188733854deg) rotateZ(-0.1352110243deg)   ;
  transform: rotateX(0.1138018925deg) rotateY(0.7188733854deg) rotateZ(-0.1352110243deg)   ;
}